In [1]:
import pandas as pd

In [2]:
# creating a dataframe from scratch
# each key-value pair corresponds to a column in dataframe

mydata = {
    'cars': [3,4,6,2],
    'planes': [7,4,2,4]
}

pd.DataFrame(mydata)

   cars  planes
0     3       7
1     4       4
2     6       2
3     2       4

In [3]:
# index created automatically, but we can customise them

transport = pd.DataFrame(mydata, index=['Mon', 'Tue', 'Wed','Thu'])
transport

     cars  planes
Mon     3       7
Tue     4       4
Wed     6       2
Thu     2       4

In [4]:
# we can locate a row using the index
transport.loc['Mon']

cars      3
planes    7
Name: Mon, dtype: int64

In [5]:
# to read data from CSV
# you can choose a column in data as an index using argument index_col=*

marathon = pd.read_csv('marathon-data.csv')
marathon

       age gender     split     final
0       33      M  01:05:38  02:08:51
1       32      M  01:06:26  02:09:28
2       31      M  01:06:49  02:10:42
3       38      M  01:06:16  02:13:45
4       31      M  01:06:32  02:13:59
...    ...    ...       ...       ...
37245   18      M  04:24:24  09:32:57
37246   36      M  04:35:43  09:33:28
37247   51      M  04:22:35  09:33:40
37248   55      W  04:58:06  10:00:40
37249   58      W  04:59:49  10:01:08

[37250 rows x 4 columns]

In [6]:
# to convert a DataFrame to csv
pd.DataFrame(mydata).to_csv('my_data.csv')

In [7]:
# head() shows a few rows of the dataframe as reference. Shows first 5 rows
marathon.head()

   age gender     split     final
0   33      M  01:05:38  02:08:51
1   32      M  01:06:26  02:09:28
2   31      M  01:06:49  02:10:42
3   38      M  01:06:16  02:13:45
4   31      M  01:06:32  02:13:59

In [8]:
# shows last 5 rows
marathon.tail()

       age gender     split     final
37245   18      M  04:24:24  09:32:57
37246   36      M  04:35:43  09:33:28
37247   51      M  04:22:35  09:33:40
37248   55      W  04:58:06  10:00:40
37249   58      W  04:59:49  10:01:08

In [9]:
# info() shows information about dataframe
marathon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37250 entries, 0 to 37249
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     37250 non-null  int64
 1   gender  37250 non-null  object
 2   split   37250 non-null  object
 3   final   37250 non-null  object
dtypes: int64(1), object(3)
memory usage: 1.1+ MB

In [10]:
marathon.shape

(37250, 4)

In [11]:
# append() adds items to the dataframe
temp_df = marathon.append(marathon)
temp_df.shape

C:\Program Files\KMSpico\temp\ipykernel_19228\1392031563.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp_df = marathon.append(marathon)

(74500, 4)

## Handling duplicates

In [12]:
# drop_duplicates() removed any duplicate items
temp_df.drop_duplicates()

       age gender     split     final
0       33      M  01:05:38  02:08:51
1       32      M  01:06:26  02:09:28
2       31      M  01:06:49  02:10:42
3       38      M  01:06:16  02:13:45
4       31      M  01:06:32  02:13:59
...    ...    ...       ...       ...
37245   18      M  04:24:24  09:32:57
37246   36      M  04:35:43  09:33:28
37247   51      M  04:22:35  09:33:40
37248   55      W  04:58:06  10:00:40
37249   58      W  04:59:49  10:01:08

[37250 rows x 4 columns]

In [13]:
# temp_df hasn't changed. The above function returned a new variable
temp_df.shape

(74500, 4)

In [14]:
# to change original dataframe instead of creating a new variable:
temp_df.drop_duplicates(inplace=True)
temp_df

       age gender     split     final
0       33      M  01:05:38  02:08:51
1       32      M  01:06:26  02:09:28
2       31      M  01:06:49  02:10:42
3       38      M  01:06:16  02:13:45
4       31      M  01:06:32  02:13:59
...    ...    ...       ...       ...
37245   18      M  04:24:24  09:32:57
37246   36      M  04:35:43  09:33:28
37247   51      M  04:22:35  09:33:40
37248   55      W  04:58:06  10:00:40
37249   58      W  04:59:49  10:01:08

[37250 rows x 4 columns]

In [15]:
# keep parameter decides whether to drop duplicated except for first occurance (default), except for last occurance (keep='last'), or drop all duplicated (keep=False)
temp_df.drop_duplicates(keep='last', inplace=True)

In [16]:
temp_df

       age gender     split     final
0       33      M  01:05:38  02:08:51
1       32      M  01:06:26  02:09:28
2       31      M  01:06:49  02:10:42
3       38      M  01:06:16  02:13:45
4       31      M  01:06:32  02:13:59
...    ...    ...       ...       ...
37245   18      M  04:24:24  09:32:57
37246   36      M  04:35:43  09:33:28
37247   51      M  04:22:35  09:33:40
37248   55      W  04:58:06  10:00:40
37249   58      W  04:59:49  10:01:08

[37250 rows x 4 columns]

## Column cleanup

In [17]:
# you can use .columns to get list of column names
marathon.columns

Index(['age', 'gender', 'split', 'final'], dtype='object')

In [18]:
# use the rename method to rename specific column names through a dict
marathon.rename(columns={
    'age':'Age',
    'gender':'Gender',
    'split':'Split',
    'final':'Final'
}, inplace=True)

In [19]:
marathon.columns

Index(['Age', 'Gender', 'Split', 'Final'], dtype='object')

In [20]:
# you can rename columns by setting a list of names to the column
marathon.columns = ['age', 'gender','split','final']

In [21]:
marathon

       age gender     split     final
0       33      M  01:05:38  02:08:51
1       32      M  01:06:26  02:09:28
2       31      M  01:06:49  02:10:42
3       38      M  01:06:16  02:13:45
4       31      M  01:06:32  02:13:59
...    ...    ...       ...       ...
37245   18      M  04:24:24  09:32:57
37246   36      M  04:35:43  09:33:28
37247   51      M  04:22:35  09:33:40
37248   55      W  04:58:06  10:00:40
37249   58      W  04:59:49  10:01:08

[37250 rows x 4 columns]

In [22]:
# this also works
marathon.columns = [col.lower() for col in marathon]
marathon

       age gender     split     final
0       33      M  01:05:38  02:08:51
1       32      M  01:06:26  02:09:28
2       31      M  01:06:49  02:10:42
3       38      M  01:06:16  02:13:45
4       31      M  01:06:32  02:13:59
...    ...    ...       ...       ...
37245   18      M  04:24:24  09:32:57
37246   36      M  04:35:43  09:33:28
37247   51      M  04:22:35  09:33:40
37248   55      W  04:58:06  10:00:40
37249   58      W  04:59:49  10:01:08

[37250 rows x 4 columns]

## Dealing with missing values

In [23]:
# check which items are missing
marathon.isnull()

         age  gender  split  final
0      False   False  False  False
1      False   False  False  False
2      False   False  False  False
3      False   False  False  False
4      False   False  False  False
...      ...     ...    ...    ...
37245  False   False  False  False
37246  False   False  False  False
37247  False   False  False  False
37248  False   False  False  False
37249  False   False  False  False

[37250 rows x 4 columns]

In [24]:
# to get sum of null items
marathon.isnull().sum()

age       0
gender    0
split     0
final     0
dtype: int64

In [25]:
# to remove any rows with at least one null value
marathon.dropna(inplace=True)

In [26]:
# you can also drop columns with null values
marathon.dropna(axis=1)

       age gender     split     final
0       33      M  01:05:38  02:08:51
1       32      M  01:06:26  02:09:28
2       31      M  01:06:49  02:10:42
3       38      M  01:06:16  02:13:45
4       31      M  01:06:32  02:13:59
...    ...    ...       ...       ...
37245   18      M  04:24:24  09:32:57
37246   36      M  04:35:43  09:33:28
37247   51      M  04:22:35  09:33:40
37248   55      W  04:58:06  10:00:40
37249   58      W  04:59:49  10:01:08

[37250 rows x 4 columns]

'axis' parameter specifies whether we are dealing with rows (axis=0), or columns (axis=1)

### Imputation

In [27]:
# to select a column in a dataframe
age = marathon['age']

In [28]:
# instead of dropping null values, you can find mean of the remaining values, and fill the null spaces with those
mean_age = age.mean()
age.fillna(mean_age, inplace=True)
# note that inplace=True not only changes 'age', but changes 'marathon' too

### Understanding your variables

In [29]:
# to get summary of distribution of continuous variables
marathon.describe()
# 'age' is the only continuous numerical variable in this case

                age
count  37250.000000
mean      40.697369
std       10.220043
min       17.000000
25%       33.000000
50%       40.000000
75%       48.000000
max       86.000000

In [30]:
# can also be used for categorical variables
marathon['gender'].describe()

count     37250
unique        2
top           M
freq      24665
Name: gender, dtype: object

In [31]:
# frequency of all values in a column
marathon['age'].value_counts()

40    1480
39    1438
41    1437
42    1363
43    1324
      ...
81       2
83       2
82       1
84       1
86       1
Name: age, Length: 69, dtype: int64

In [32]:
# to generate relationship between each continuous variable
marathon.corr()

     age
age  1.0

## DataFrame slicing, selecting, extracting

In [33]:
# you can extract a column using square brackets
marathon['gender']

0        M
1        M
2        M
3        M
4        M
        ..
37245    M
37246    M
37247    M
37248    W
37249    W
Name: gender, Length: 37250, dtype: object

In [34]:
# it becomes a Series (not a DataFrame)
type(marathon['gender'])

pandas.core.series.Series

In [35]:
# to get a DataFrame, pass a list of column names (one in this case)
type(marathon[['gender']])

pandas.core.frame.DataFrame

To extract a row, there are two options:
- .loc - **loc**ate by name
- .iloc = **loc**ate by **i**ndex

In [36]:
# in this case, name and index are the same
marathon.loc[4323]

age             39
gender           M
split     01:37:51
final     03:31:56
Name: 4323, dtype: object

In [37]:
marathon.iloc[4323]

age             39
gender           M
split     01:37:51
final     03:31:56
Name: 4323, dtype: object

In [38]:
# to select multiple rows. .loc includes both lower and upper bound, but .iloc does not include upper bound
marathon.loc[4533:4540]

      age gender     split     final
4533   50      M  01:43:43  03:33:14
4534   41      M  01:38:45  03:33:14
4535   46      W  01:42:46  03:33:14
4536   47      M  01:44:26  03:33:14
4537   31      M  01:36:37  03:33:14
4538   42      M  01:36:40  03:33:15
4539   42      M  01:36:13  03:33:15
4540   53      M  01:38:29  03:33:16

### Contitional selection

In [39]:
# to select only women. Returns every row, with boolean values
marathon['gender']=="W"

0        False
1        False
2        False
3        False
4        False
         ...
37245    False
37246    False
37247    False
37248     True
37249     True
Name: gender, Length: 37250, dtype: bool

In [40]:
# to get new DataFrame with only items that satisfy condition
marathon[marathon['gender']=='W']

       age gender     split     final
28      34      W  01:12:35  02:24:13
30      39      W  01:13:13  02:25:37
32      29      W  01:13:09  02:25:50
40      36      W  01:12:57  02:28:13
41      27      W  01:13:07  02:28:27
...    ...    ...       ...       ...
37241   42      W  03:27:53  09:05:44
37242   64      W  04:27:19  09:10:58
37244   32      W  04:15:33  09:32:56
37248   55      W  04:58:06  10:00:40
37249   58      W  04:59:49  10:01:08

[12585 rows x 4 columns]

In [41]:
marathon[marathon['age']>=30]

       age gender     split     final
0       33      M  01:05:38  02:08:51
1       32      M  01:06:26  02:09:28
2       31      M  01:06:49  02:10:42
3       38      M  01:06:16  02:13:45
4       31      M  01:06:32  02:13:59
...    ...    ...       ...       ...
37244   32      W  04:15:33  09:32:56
37246   36      M  04:35:43  09:33:28
37247   51      M  04:22:35  09:33:40
37248   55      W  04:58:06  10:00:40
37249   58      W  04:59:49  10:01:08

[31677 rows x 4 columns]

In [42]:
marathon[(marathon['age']>=30) | (marathon['age']<=18)]

       age gender     split     final
0       33      M  01:05:38  02:08:51
1       32      M  01:06:26  02:09:28
2       31      M  01:06:49  02:10:42
3       38      M  01:06:16  02:13:45
4       31      M  01:06:32  02:13:59
...    ...    ...       ...       ...
37245   18      M  04:24:24  09:32:57
37246   36      M  04:35:43  09:33:28
37247   51      M  04:22:35  09:33:40
37248   55      W  04:58:06  10:00:40
37249   58      W  04:59:49  10:01:08

[31742 rows x 4 columns]

In [43]:
# .isin() function is quicker
marathon[marathon['age'].isin([31,32,33,34,35])]

       age gender     split     final
0       33      M  01:05:38  02:08:51
1       32      M  01:06:26  02:09:28
2       31      M  01:06:49  02:10:42
4       31      M  01:06:32  02:13:59
5       31      M  01:06:13  02:14:11
...    ...    ...       ...       ...
37147   34      W  03:15:01  08:12:37
37182   31      W  03:23:49  08:24:47
37213   34      M  03:00:44  08:39:33
37231   35      W  02:53:57  08:54:12
37244   32      W  04:15:33  09:32:56

[5601 rows x 4 columns]

In [44]:
# to get lower quartile of ages
marathon[marathon['age'] < marathon['age'].quantile(0.25)]

       age gender     split     final
1       32      M  01:06:26  02:09:28
2       31      M  01:06:49  02:10:42
4       31      M  01:06:32  02:13:59
5       31      M  01:06:13  02:14:11
6       27      M  01:06:40  02:14:28
...    ...    ...       ...       ...
37226   24      M  03:34:01  08:49:36
37228   24      W  03:35:21  08:50:47
37233   27      W  03:37:49  08:57:41
37244   32      W  04:15:33  09:32:56
37245   18      M  04:24:24  09:32:57

[8942 rows x 4 columns]

## Applying functions

It is possible to iterate over a DataFrame like you would a list. But this is very slow. instead, ues the apply() function

In [45]:
def is_old(x):
    if x > 40:
        return True
    else:
        return False

In [46]:
marathon['isOld'] = marathon['age'].apply(is_old)

In [47]:
marathon['isOld']

0        False
1        False
2        False
3        False
4        False
         ...
37245    False
37246    False
37247     True
37248     True
37249     True
Name: isOld, Length: 37250, dtype: bool

In [48]:
marathon

       age gender     split     final  isOld
0       33      M  01:05:38  02:08:51  False
1       32      M  01:06:26  02:09:28  False
2       31      M  01:06:49  02:10:42  False
3       38      M  01:06:16  02:13:45  False
4       31      M  01:06:32  02:13:59  False
...    ...    ...       ...       ...    ...
37245   18      M  04:24:24  09:32:57  False
37246   36      M  04:35:43  09:33:28  False
37247   51      M  04:22:35  09:33:40   True
37248   55      W  04:58:06  10:00:40   True
37249   58      W  04:59:49  10:01:08   True

[37250 rows x 5 columns]